<div 
    class="jumbotron" 
    id="homepage-jumbotron"
>
    <div class="container">
        <div class="row"> 
            <h1>{{article.title}}</h1>
        </div>

        <div class="row">
            {% if 'subtitle' in article %}
            <h3>{{article.subtitle}}</h3>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-auto">
                {% for writer in article.writers %}
                {{writer.name}}{% if not loop.last %}, {% endif %}
                {%endfor%}
            </div>
            <div class="col-lg-auto">
                Category:
                {% for category in article.categories %}
                {{category.name}}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-auto">
                {% if 'amended' not in article %}
                {{article.published}}
                {% else %}
                {{article.amended}}
                {% endif %}
            </div>

        </div>
    </div>
</div>